<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.oa.mapper.OaSystemMapper">
    
    <resultMap type="OaSystem" id="OaSystemResult">
        <result property="id"    column="id"    />
        <result property="sysName"    column="sys_name"    />
        <result property="operation"    column="operation"    />
        <result property="company"    column="company"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="phone"    column="phone"    />
        <result property="sort"    column="sort"    />
        <result property="flag"    column="flag" />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="cjId"    column="cj_id"    />
        <result property="cjName"    column="cj_name"    />
        <result property="gqId"    column="gq_id"    />
        <result property="gqName"    column="gq_name"    />
    </resultMap>
	
	<sql id="selectOaSystemVo">
        select id, sys_name, operation, company, status, del_flag, create_by, create_time, update_by, update_time, remark, phone, sort, flag, dept_id, dept_name, cj_id, cj_name, gq_id, gq_name from oa_system
    </sql>
	
    <select id="selectOaSystemList" parameterType="OaSystem" resultMap="OaSystemResult">
        <include refid="selectOaSystemVo"/>
        <where> 
        		del_flag = '0'  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="sysName != null  and sysName != '' "> and sys_name = #{sysName}</if>
             <if test="operation != null  and operation != '' "> and operation = #{operation}</if>
             <if test="company != null  and company != '' "> and company = #{company}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="deptId != null  and deptId != '' "> and dept_id = #{deptId}</if>
             <if test="deptName != null  and deptName != '' "> and dept_name = #{deptName}</if>
             <if test="cjId != null  and cjId != '' "> and cj_id = #{cjId}</if>
             <if test="cjName != null  and cjName != '' "> and cj_name = #{cjName}</if>
             <if test="gqId != null  and gqId != '' "> and gq_id = #{gqId}</if>
             <if test="gqName != null  and gqName != '' "> and gq_name = #{gqName}</if>
         </where>
    </select>
    
    <select id="selectOaSystemById" parameterType="String" resultMap="OaSystemResult">
        <include refid="selectOaSystemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOaSystem" parameterType="OaSystem">
    	<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			SELECT UUID()
		</selectKey>
        insert into oa_system
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="sysName != null  and sysName != ''  ">sys_name,</if>
			<if test="operation != null  and operation != ''  ">operation,</if>
			<if test="company != null  and company != ''  ">company,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="sort != null   ">sort,</if>
			<if test="flag != null   ">flag,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="cjId != null  and cjId != ''  ">cj_id,</if>
			<if test="cjName != null  and cjName != ''  ">cj_name,</if>
			<if test="gqId != null  and gqId != ''  ">gq_id,</if>
			<if test="gqName != null  and gqName != ''  ">gq_name,</if>
			create_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="sysName != null  and sysName != ''  ">#{sysName},</if>
			<if test="operation != null  and operation != ''  ">#{operation},</if>
			<if test="company != null  and company != ''  ">#{company},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="sort != null  ">#{sort},</if>
			<if test="flag != null   ">#{flag},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>
			<if test="cjId != null  and cjId != ''  ">#{cjId},</if>
			<if test="cjName != null  and cjName != ''  ">#{cjName},</if>
			<if test="gqId != null  and gqId != ''  ">#{gqId},</if>
			<if test="gqName != null  and gqName != ''  ">#{gqName},</if>			
			sysdate()
         </trim>
    </insert>
	 
    <update id="updateOaSystem" parameterType="OaSystem">
        update oa_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="sysName != null  and sysName != ''  ">sys_name = #{sysName},</if>
            <if test="operation != null  and operation != ''  ">operation = #{operation},</if>
            <if test="company != null  and company != ''  ">company = #{company},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = sysdate(),</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="sort != null   ">sort = #{sort},</if>
            <if test="flag != null   ">flag = #{flag},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="cjId != null  and cjId != ''  ">cj_id = #{cjId},</if>
            <if test="cjName != null  and cjName != ''  ">cj_name = #{cjName},</if>
            <if test="gqId != null  and gqId != ''  ">gq_id = #{gqId},</if>
            <if test="gqName != null  and gqName != ''  ">gq_name = #{gqName},</if>            
        </trim>
        where id = #{id}
    </update>
    
    <update id="deleteOaSystemById" parameterType="String">
        update oa_system
        <trim prefix="SET" suffixOverrides=",">
            del_flag = '1',
        </trim>
        where id = #{id}
    </update>
    <update id="deleteOaSystemByIds" parameterType="String">
        update oa_system SET del_flag = '2' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>