<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="spindex/public/header:: header"></head>
<link rel="stylesheet" th:href="@{/spindex/css/index/index.css}" />
<link rel="stylesheet" th:href="@{/spindex/css/search/search.css}" />
<body class="no-skin pos-rel" data-spy="scroll" data-target="#menu">
<div th:replace="spindex/public/nav:: nav"></div>
<div th:replace="spindex/public/search::search"></div>
<div th:replace="spindex/public/navbar:: navbar(false)"></div>
<div class="container" style="width:90%" >
	<div class="page-header">
		<h1>
			所有结果
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				overview &amp; stats
			</small>
		</h1>
	</div>
	<div class="row condition condition-border-top"  >
		<div class="col-xs-1" style="    background: #f3f3f3; ">
			<div class="condition-title">
				品牌：
			</div>
		</div>
		<div class="col-xs-9 ">
			<div class="row">
				<div class="col-xs-1">
				<span>电脑</span>
				</div>
			</div>		 
		
		</div>
		<div class="col-xs-2">
		撒旦发射点
		</div>
	</div>
	<div class="row condition"  >
		<div class="col-xs-1" style="    background: #f3f3f3; ">
			<div class="condition-title">
				品牌：
			</div>
		</div>
		<div class="col-xs-9 ">
			<div class="row">
				<div class="col-xs-1">
				<span>电脑</span>
				</div>
			</div>		 
		
		</div>
		<div class="col-xs-2">
		撒旦发射点
		</div>
	</div>
	<div class="row condition"  >
		<div class="col-xs-1" style="    background: #f3f3f3; ">
			<div class="condition-title">
				品牌：
			</div>
		</div>
		<div class="col-xs-9 ">
			<div class="row">
				<div class="col-xs-1">
				<span>电脑</span>
				</div>
			</div>		 
		
		</div>
		<div class="col-xs-2">
		撒旦发射点
		</div>
	</div>	
</div>
<div class="space-4"></div>
<div class="container" style="width:90%" >
	<div class="row">	
		<div class="col-xs-2 div-border" >
		
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i>	</a>					
						</div>							

					</div>		
				
		
		
		
		
		</div>
		<div class="col-xs-10 ">
			<div style="padding-left: 10px;">
					
							 <div class="row goods-sort">
								<div class="col-xs-10 ">
									<div class="">
										 <a href="javascript:;" class="curr" onclick=""><span class="fs-tit">综合</span><em class="fs-down"><i class="arrow"></i></em></a>
									</div>
								</div>
							
								<div class="col-xs-2"></div>
							 </div>
					
			</div>
			<div class="row">
			
				<div class="col-xs-3">
				
				
				
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							
						<div class="goods-commit">
							<strong><a id="J_comment_58862706123" target="_blank" href="//item.jd.com/58862706123.html#comment" onclick="searchlog(1,58862706123,1,3,'','flagsClk=1094713480')">5300+</a>条评价</strong>
						</a>
						</div>
						<div class="goods-shop">
							<a target="_blank" class="curr-shop hd-shopname" onclick="searchlog(1,10067080,0,58)" href="//mall.jd.com/index-10067080.html" title="量康医疗器械专营店">量康医疗器械专营店</a>
						</div>					
						<div class="goods-icons">
							<i class="goods-icons J-picon-tips J-picon-fix" data-idx="1" data-tips="京东自营，品质保障">自营</i>
						</div>					
					<div class="goods-operate">
						<a class="goods-o-btn contrast J_contrast" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,6,'','flagsClk=1094718088')"><i></i>对比</a>
						<a class="goods-o-btn focus J_focus" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,5,'','flagsClk=1094718088')"><i></i>关注</a>
						<a class="goods-o-btn addcart" href="//cart.jd.com/gate.action?pid=100011385516&amp;pcount=1&amp;ptype=1" target="_blank" onclick="searchlog(1,100011385516,0,4,'','flagsClk=1094718088')" data-limit="0"><i></i>加入购物车</a>
					</div>
					</div>	
				
		
		
				
				
				</div>
			
					
				<div class="col-xs-3">
				
				
				
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							
						<div class="goods-commit">
							<strong><a id="J_comment_58862706123" target="_blank" href="//item.jd.com/58862706123.html#comment" onclick="searchlog(1,58862706123,1,3,'','flagsClk=1094713480')">5300+</a>条评价</strong>
						</a>
						</div>
						<div class="goods-shop">
							<a target="_blank" class="curr-shop hd-shopname" onclick="searchlog(1,10067080,0,58)" href="//mall.jd.com/index-10067080.html" title="量康医疗器械专营店">量康医疗器械专营店</a>
						</div>					
						<div class="goods-icons">
							<i class="goods-icons J-picon-tips J-picon-fix" data-idx="1" data-tips="京东自营，品质保障">自营</i>
						</div>					
					<div class="goods-operate">
						<a class="goods-o-btn contrast J_contrast" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,6,'','flagsClk=1094718088')"><i></i>对比</a>
						<a class="goods-o-btn focus J_focus" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,5,'','flagsClk=1094718088')"><i></i>关注</a>
						<a class="goods-o-btn addcart" href="//cart.jd.com/gate.action?pid=100011385516&amp;pcount=1&amp;ptype=1" target="_blank" onclick="searchlog(1,100011385516,0,4,'','flagsClk=1094718088')" data-limit="0"><i></i>加入购物车</a>
					</div>
					</div>	
				
		
		
				
				
				</div>
			
			
						
				<div class="col-xs-3">
				
				
				
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							
						<div class="goods-commit">
							<strong><a id="J_comment_58862706123" target="_blank" href="//item.jd.com/58862706123.html#comment" onclick="searchlog(1,58862706123,1,3,'','flagsClk=1094713480')">5300+</a>条评价</strong>
						</a>
						</div>
						<div class="goods-shop">
							<a target="_blank" class="curr-shop hd-shopname" onclick="searchlog(1,10067080,0,58)" href="//mall.jd.com/index-10067080.html" title="量康医疗器械专营店">量康医疗器械专营店</a>
						</div>					
						<div class="goods-icons">
							<i class="goods-icons J-picon-tips J-picon-fix" data-idx="1" data-tips="京东自营，品质保障">自营</i>
						</div>					
					<div class="goods-operate">
						<a class="goods-o-btn contrast J_contrast" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,6,'','flagsClk=1094718088')"><i></i>对比</a>
						<a class="goods-o-btn focus J_focus" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,5,'','flagsClk=1094718088')"><i></i>关注</a>
						<a class="goods-o-btn addcart" href="//cart.jd.com/gate.action?pid=100011385516&amp;pcount=1&amp;ptype=1" target="_blank" onclick="searchlog(1,100011385516,0,4,'','flagsClk=1094718088')" data-limit="0"><i></i>加入购物车</a>
					</div>
					</div>	
				
		
		
				
				
				</div>
			
			
						
				<div class="col-xs-3">
				
				
				
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							
						<div class="goods-commit">
							<strong><a id="J_comment_58862706123" target="_blank" href="//item.jd.com/58862706123.html#comment" onclick="searchlog(1,58862706123,1,3,'','flagsClk=1094713480')">5300+</a>条评价</strong>
						</a>
						</div>
						<div class="goods-shop">
							<a target="_blank" class="curr-shop hd-shopname" onclick="searchlog(1,10067080,0,58)" href="//mall.jd.com/index-10067080.html" title="量康医疗器械专营店">量康医疗器械专营店</a>
						</div>					
						<div class="goods-icons">
							<i class="goods-icons J-picon-tips J-picon-fix" data-idx="1" data-tips="京东自营，品质保障">自营</i>
						</div>					
					<div class="goods-operate">
						<a class="goods-o-btn contrast J_contrast" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,6,'','flagsClk=1094718088')"><i></i>对比</a>
						<a class="goods-o-btn focus J_focus" data-sku="100011385516" href="javascript:;" onclick="searchlog(1,100011385516,0,5,'','flagsClk=1094718088')"><i></i>关注</a>
						<a class="goods-o-btn addcart" href="//cart.jd.com/gate.action?pid=100011385516&amp;pcount=1&amp;ptype=1" target="_blank" onclick="searchlog(1,100011385516,0,4,'','flagsClk=1094718088')" data-limit="0"><i></i>加入购物车</a>
					</div>
					</div>	
				
		
		
				
				
				</div>
			
			
		
			
			</div>
			
			<div class="row">
			
				<div class="col-xs-12">
				
					<div id="demo7">
					
					
					</div>
				
				</div>
			
			
			</div>
			
		
		</div>
	</div>
</div>

<div class="space-4"></div>
<div class="container hat-tj-border" style="width:90%" >
<lable>热点推荐</lable>
	<div class="row">
		<div class="col-xs-2">
		
						
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							

					</div>	
				
		
		
		
		</div>
		<div class="col-xs-2">
		
						
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							


					</div>	
				
		
		
		
		</div>		
	</div>
</div>


<div class="space-4"></div>
<div class="container hat-tj-border" style="width:90%" >
<lable>猜你喜欢</lable>
	<div class="row">
		<div class="col-xs-2">
		
						
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							

					</div>	
				
		
		
		
		</div>
		<div class="col-xs-2">
		
						
					<div class="goods-box" style="width:100%">
						<div class="goods-img">
							<img src="https://img13.360buyimg.com/n7/jfs/t1/84708/3/15389/120850/5e70665eE0843d96d/d30a2fd78258ca07.jpg" />
						</div>
						<div class="goods-price">
							<strong class="J_58862706123" data-done="1"><em>￥</em><i>9.90</i></strong>
						</div>
						<div class="goods-name">
								<a target="_blank" title="此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼" href="//item.jd.com/58862706123.html" onclick="searchlog(1,58862706123,1,1,'','flagsClk=1094713480')">
							<em>晨业 75%<font class="skcolor_ljg">酒精</font>消毒液 500ml皮肤物品清洁乙醇消毒液高浓度清洁燃烧<font class="skcolor_ljg">酒精</font>75%<font class="skcolor_ljg">酒精</font> 75%<font class="skcolor_ljg">酒精</font> 500ml/瓶【白色瓶和蓝色瓶随机发】</em>
							<i class="promo-words" id="J_AD_58862706123">此商品将于2020-03-16,00点结束闪购特卖，家用医疗健康好礼</i></a>						
						</div>							


					</div>	
				
		
		
		
		</div>		
	</div>
</div>



<head th:include="spindex/public/footer:: footer"></head>
<script >
//.wst-slide



$(function(){
	$.common.slides(".wst-slide");
	$.common.Sidebar();
    $("#all_shop_cat").hover(function() { //整个导航菜单悬浮，是否显示二级导航到出厂
        $("#wst-categorys").show();

    }, function() {
    	 $("#wst-categorys").hide();
        $('.item').removeClass("hover");
    })
});

layui.use('laypage', function(){
	  var laypage = layui.laypage;
	  
	//完整功能
	  laypage.render({
	    elem: 'demo7'
	    ,count: 100
	    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
	    ,jump: function(obj){
	      console.log(obj)
	    }
	  });
	});
</script>
</body>
</html>