{include file="public\header" /}
		<style>
			.col-md-3>ul>li>a {
			    display: block;
			    margin: 0 0 -1px;
			    padding: 8px 14px;
			    border: 1px solid #e5e5e5;
			}
			section>h2{
				text-align: left;
			}
			section>p{
				text-align: left;
			}
			.post-content {
			    font-size: 16px;
			    line-height: 1.8;
			    padding-top: 20px;
			    padding-bottom: 20px;
				font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
			}
		</style>
		  <div class="space-30"></div>
 			
		    <div style="background-image:url(/img/about_960_250.png);padding-bottom: 160px;
			    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 220px;">
				<div class="container " >
				  <div class="text-left" style="    margin-left: 70px;">
					
				  </div>
				</div>
			</div>
		<div class="main-container" id="top">

		    <div class="container">
		      <div class="space-30"></div>
		     
		      <div class="row text-center">
		        <div class="col-md-3">
		          <ul class="nav">
		          	<li class="toc-h2 toc-active">
		          		<a href="#toc0">关于我们</a></li>
		          	<li class="toc-h2"><a href="#toc1">加入我们</a></li>
		          	
		          </ul>
		          
		        </div>
		        <div class="col-md-9">
		          <article class="post page">
          <section class="post-content">
            <span id="toc0"></span><h2 id="-">关于我们</h2>
<p>lnbei林北网 -- <a href="http://www.lnbei.xin">www.lnbei.xin</a> 创建于2016年12月。起因是网上虽有众多开源的web开发框架，但各有专长，使用起来比较麻烦。因此，我们决定开发一款集各家之所长，又有独特之处的web开发框架，并且建立了微信公众号和QQ群(511697518)，方便更多热爱这个框架的有识之士分享、交流在软件设计和开发方面的心得。</p>

<span id="toc2"></span><h2 id="-">加入我们</h2>
<p>lnbei林北网致力于将web开发变的更简单，坚持免费开源的互联网精神。旨在为热爱web软件开发的码农提供一个交流的平台。如果你的目标和我们一致，我们乐意与您一起携手前行。</p>
<p>如果你也热爱web开发、热爱 lnbei，有一颗创业的心，欢迎和我们联系，更欢迎你加入我们的团队！</p>
<p>Mail: <a href="mailto:993238441@qq.com">993238441@qq.com</a></p>

          </section>
        </article>
		          
		        </div>
		    
		      </div>
		    </div>
		</div>
{include file="public\footer" /}