{include file="public\header" /}
		
<div class="main-container" id="top" style="">
	<div class="space-30"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>赞助 lnbei的研发</h1>
				<div class="space-4"></div>		
				<p class="text-overflow">lnbei 是采用 MIT 许可的开源项目，使用完全免费。 但是随着项目规模的增长，也需要有相应的资金支持才能持续项目的维护的开发。</p>
				<p class="text-overflow">你可以通过下列的方法来赞助lnbei 的开发。</p>
				<div class="row" style="height:100%">
					<div class="col-md-6">
						<img src="/img/netpay/alipay.jpg"   style="width:100%;height:442px;" />
					</div>
					<div class="col-md-6">
						<img src="/img/netpay/wepay.jpg"   style="width:100%;height:442px"  />
					</div>
				</div>	
			</div>	
			<div class="col-md-2"></div>	
		</div>
	
	</div>
</div>
{include file="public\footer" /}