<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.fi.mapper.FiCashConfigsMapper">
    
    <resultMap type="FiCashConfigs" id="FiCashConfigsResult">
        <result property="mid"    column="mid"    />
        <result property="targetType"    column="target_type"    />
        <result property="targetId"    column="target_id"    />
        <result property="accType"    column="acc_type"    />
        <result property="accTargetId"    column="acc_target_id"    />
        <result property="accAreaId"    column="acc_area_id"    />
        <result property="accNo"    column="acc_no"    />
        <result property="accUser"    column="acc_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
    </resultMap>
	
	<sql id="selectFiCashConfigsVo">
        select mid, target_type, target_id, acc_type, acc_target_id, acc_area_id, acc_no, acc_user, update_time, create_time, del_flag, create_by, update_by, remark, sort, status from fi_cash_configs
    </sql>
	
    <select id="selectFiCashConfigsList" parameterType="FiCashConfigs" resultMap="FiCashConfigsResult">
        <include refid="selectFiCashConfigsVo"/>
        <where>  
            <if test="mid != null  and mid != '' "> and mid = #{mid}</if>
             <if test="targetType != null  and targetType != '' "> and target_type = #{targetType}</if>
             <if test="targetId != null  and targetId != '' "> and target_id = #{targetId}</if>
             <if test="accType != null  and accType != '' "> and acc_type = #{accType}</if>
             <if test="accTargetId != null  and accTargetId != '' "> and acc_target_id = #{accTargetId}</if>
             <if test="accAreaId != null  and accAreaId != '' "> and acc_area_id = #{accAreaId}</if>
             <if test="accNo != null  and accNo != '' "> and acc_no = #{accNo}</if>
             <if test="accUser != null  and accUser != '' "> and acc_user = #{accUser}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="sort != null "> and sort = #{sort}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
         </where>
    </select>
    
    <select id="selectFiCashConfigsById" parameterType="String" resultMap="FiCashConfigsResult">
        <include refid="selectFiCashConfigsVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertFiCashConfigs" parameterType="FiCashConfigs">
         <selectKey keyProperty="mid" order="BEFORE" resultType="java.lang.String">
			SELECT UUID()
		</selectKey>
        insert into fi_cash_configs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">mid,</if>
			<if test="targetType != null  and targetType != ''  ">target_type,</if>
			<if test="targetId != null  and targetId != ''  ">target_id,</if>
			<if test="accType != null  and accType != ''  ">acc_type,</if>
			<if test="accTargetId != null  and accTargetId != ''  ">acc_target_id,</if>
			<if test="accAreaId != null  and accAreaId != ''  ">acc_area_id,</if>
			<if test="accNo != null  and accNo != ''  ">acc_no,</if>
			<if test="accUser != null  and accUser != ''  ">acc_user,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="sort != null  ">sort,</if>
			<if test="status != null  and status != ''  ">status,</if>
			update_time,
			create_time,			
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">#{mid},</if>
			<if test="targetType != null  and targetType != ''  ">#{targetType},</if>
			<if test="targetId != null  and targetId != ''  ">#{targetId},</if>
			<if test="accType != null  and accType != ''  ">#{accType},</if>
			<if test="accTargetId != null  and accTargetId != ''  ">#{accTargetId},</if>
			<if test="accAreaId != null  and accAreaId != ''  ">#{accAreaId},</if>
			<if test="accNo != null  and accNo != ''  ">#{accNo},</if>
			<if test="accUser != null  and accUser != ''  ">#{accUser},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="sort != null  ">#{sort},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
					sysdate(),
			sysdate(),
         </trim>
    </insert>
	 
    <update id="updateFiCashConfigs" parameterType="FiCashConfigs">
        update fi_cash_configs
        <trim prefix="SET" suffixOverrides=",">
            <if test="targetType != null  and targetType != ''  ">target_type = #{targetType},</if>
            <if test="targetId != null  and targetId != ''  ">target_id = #{targetId},</if>
            <if test="accType != null  and accType != ''  ">acc_type = #{accType},</if>
            <if test="accTargetId != null  and accTargetId != ''  ">acc_target_id = #{accTargetId},</if>
            <if test="accAreaId != null  and accAreaId != ''  ">acc_area_id = #{accAreaId},</if>
            <if test="accNo != null  and accNo != ''  ">acc_no = #{accNo},</if>
            <if test="accUser != null  and accUser != ''  ">acc_user = #{accUser},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="sort != null  ">sort = #{sort},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
                 update_time = sysdate(),
        </trim>
        where mid = #{mid}
    </update>

	<delete id="deleteFiCashConfigsById" parameterType="String">
        delete from fi_cash_configs where mid = #{mid}
    </delete>
	
    <delete id="deleteFiCashConfigsByIds" parameterType="String">
        delete from fi_cash_configs where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>
    
</mapper>