{include file="public\header" /}

<div class="main-container" id="top" style="">
	<div class="space-30"></div>
	<div class="space-4"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>感谢您的下载</h1>
				<div class="space-30"></div>

				<div class="row" style="height: 100%">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<a style="margin-bottom: 20px;" class="btn btn-purple btn-lg"
							href="https://codeload.github.com/chenguanyong/lnbei/zip/master"
							style="width:250px" role="button"><i
							class="ace-icon fa fa-arrow-circle-o-down bigger-200"></i><span
							class="bigger-200 no-text-shadow">下载</span></a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>
</div>
{include file="public\footer" /}
