<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-fiPayments-edit" th:object="${fiPayments}">
            <input id="mid" name="mid" th:field="*{mid}"  type="hidden">

		<div class="form-group">	
				<label class="col-sm-3 control-label">支付编码：</label>
				<div class="col-sm-8">
					<input id="payCode" name="payCode" th:field="*{payCode}"  class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付名称：</label>
				<div class="col-sm-8">
					<input id="payName" name="payName" th:field="*{payName}"  class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付描述：</label>
				<div class="col-sm-8">
					<input id="payDesc" name="payDesc" th:field="*{payDesc}" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">参数配置：</label>
				<div class="col-sm-8">
					<input id="payConfig" name="payConfig" th:field="*{payConfig}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
				    <div required class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}"  th:checked="${fiPayments.status == dict.dictValue ? true : false}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>				
			<div class="form-group">	
				<label class="col-sm-3 control-label"> 允许在线支付：</label>
				<div class="col-sm-8">
					
		 				<label class="check-box">
					       
					            <input type="checkbox" id="isOnline" checked="true"  th:if="${fiPayments.isOnline == '0'}" style="position: absolute; opacity: 0;">
					            <input type="checkbox" id="isOnline"  th:if="${fiPayments.isOnline == '1'}" style="position: absolute; opacity: 0;">
	 					 </label>					
				</div>
			</div>
	
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}"  class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">排序：</label>
				<div class="col-sm-8">
					<input id="sort" name="sort" th:field="*{sort}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "fi/fiPayments";
		$("#form-fiPayments-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) { 
	        	var param = $('#form-fiPayments-edit').serialize();
	        	var isOnline = $("input[id='isOnline']").is(':checked') == false ? 0 : 1;
	        	param +=  "&isOnline=" + isOnline;
	            $.operate.save(prefix + "/edit", param);
	        }
	    }
	</script>
</body>
</html>
