.page-header{
	border-bottom: 0px dotted #E2E2E2;
    padding-bottom: 0px;
}
.condition{
	border-bottom: 1px dotted #E2E2E2;
	min-height:30px;
}

.condition:first-child{
	min-height:30px;
}
.condition-title{
	height: 100%;
    padding: 10px 0px;
}
.condition-border-top{
	border-top: 1px dotted #E2E2E2;
}
.goods-sort{
	height:40px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}


.goods-sort a {
    float: left;
    padding: 0 9px;
    height: 23px;
    border: 1px solid #CCC;
    line-height: 23px;
    margin-right: -1px;
    background: #FFF;
    color: #333;
    margin: 7px;
}
.goods-sort a.curr {
    border-color: #e4393c;
    background: #e4393c;
    color: #FFF;
}
.hat-tj-border{
	  border: 1px solid #CCC;
}