{include file="public\header" /}

<div class="main-container" id="top" style="">
	<div class="space-30"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>谢谢您的留言</h1>
				<div class="space-4"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							 
						</div>
						<div class="col-md-2"></div>
					</div>
				
				</div>
		
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>
</div>


{include file="public\footer" /}
