<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								 申请联系电话：<input type="text" name="linkPhone"/>
							</li>
							<li>
								申请联系人：<input type="text" name="linkMan"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:spShopApplys:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:spShopApplys:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.report()" shiro:hasPermission="system:spShopApplys:edit">
					<i class="fa fa-edit"></i> 上报
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.review()" shiro:hasPermission="system:spShopApplys:edit">
					<i class="fa fa-edit"></i> 审核
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.view()" shiro:hasPermission="system:spShopApplys:edit">
					<i class="fa fa-edit"></i> 查看
				</a>												
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:spShopApplys:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:spShopApplys:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:spShopApplys:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:spShopApplys:remove')}]];
        var prefix = ctx + "system/spShopApplys";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				reviewUrl: prefix + "/review/{id}",
				reportUrl: prefix + "/report/{id}",
				viewUrl: prefix + "/view/{id}",
                modalName: "店铺申请",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'mid', 
					title : '',
					visible: false
				},
				{
					field : 'memberId', 
					title : '用户id',
					sortable: true,
					visible: false
				},
				{
					field : 'linkMan', 
					title : '申请联系人',
				
				},
				{
					field : 'linkPhone', 
					title : '申请联系电话',
				
				},
				{
					field : 'shopName', 
					title : '店铺名称',
					
				},
				{
					field : 'applyIntention', 
					title : '申请意向',
				
				},

				{
					field : 'applyStatus', 
					title : '申请状态 ',
					sortable: true
				},

				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
			
		        {
		            title: '操作',
		            align: 'center',
		            visible: false,
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.mid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.mid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }
				]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>