<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-areas-edit" th:object="${areas}">
            <input id="mid" name="mid" th:field="*{mid}"  type="hidden">

			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:rea">*</span>地区名称：</label>
				<div class="col-sm-8">
					<input id="areaName" name="areaName" th:field="*{areaName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">地区首字母：</label>
				<div class="col-sm-8">
					<input id="areaKey" name="areaKey" th:field="*{areaKey}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:rea">*</span>级别标志：</label>
				<div class="col-sm-8">
						<select id="areaType"  name="areaType" th:field="*{areaType}"  class="form-control select_font" style="width:200px;border: 1px solid #ddd;"  th:with="type=${@dict.getType('sys_areas_flag')}">
						  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
						 </option>
						</select>	
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:rea">*</span>行政类别：</label>
				<div class="col-sm-8">
				
						<select id="level"  name="level" class="form-control select_font" th:field="*{level}" style="width:200px;border: 1px solid #ddd;"  th:with="type=${@dict.getType('sys_areas_type')}">
						  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
						 </option>
						</select>	
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:rea">*</span>是否展示：</label>
				<div class="col-sm-8">
	   					 <div required class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
							<input type="radio" th:id="${dict.dictCode}" name="isShow" th:value="${dict.dictValue}"  th:checked="${areas.isShow == dict.dictValue ? true : false}">
							<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
						</div>					
				</div>
			</div>			
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:rea">*</span>排序：</label>
				<div class="col-sm-8">
					<input id="sort" name="sort" th:field="*{sort}"  class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/areas";
		$("#form-areas-edit").validate({
			rules:{
				areaName:{
					required:true,
				},
				areaType:{
					required:true,
				},
				level:{
					required:true,
				},
				isShow:{
					required:true,
				},
				sort:{
					required:true,
				},
				
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-areas-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
