<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.sp.mapper.SpExpressMapper">
    
    <resultMap type="SpExpress" id="SpExpressResult">
        <result property="mid"    column="mid"    />
        <result property="expressName"    column="express_name"    />
        <result property="expressCode"    column="express_code"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="sort"    column="sort"    />
    </resultMap>
	
	<sql id="selectSpExpressVo">
        select mid, express_name, express_code, del_flag, create_by, create_time, update_by, update_time, remark, dept_id, dept_name, sort from sp_express
    </sql>
	
    <select id="selectSpExpressList" parameterType="SpExpress" resultMap="SpExpressResult">
        <include refid="selectSpExpressVo"/>
        <where>  
            <if test="mid != null  and mid != '' "> and mid = #{mid}</if>
             <if test="expressName != null  and expressName != '' "> and express_name = #{expressName}</if>
             <if test="expressCode != null  and expressCode != '' "> and express_code = #{expressCode}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="deptId != null  and deptId != '' "> and dept_id = #{deptId}</if>
             <if test="deptName != null  and deptName != '' "> and dept_name = #{deptName}</if>
             <if test="sort != null "> and sort = #{sort}</if>
         </where>
    </select>
    
    <select id="selectSpExpressById" parameterType="String" resultMap="SpExpressResult">
        <include refid="selectSpExpressVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertSpExpress" parameterType="SpExpress">
            <selectKey keyProperty="mid" order="BEFORE" resultType="java.lang.String">
			SELECT UUID()
		</selectKey>
        insert into sp_express
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">mid,</if>
			<if test="expressName != null  and expressName != ''  ">express_name,</if>
			<if test="expressCode != null  and expressCode != ''  ">express_code,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="sort != null  ">sort,</if>
						create_time,
						update_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">#{mid},</if>
			<if test="expressName != null  and expressName != ''  ">#{expressName},</if>
			<if test="expressCode != null  and expressCode != ''  ">#{expressCode},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
		
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
		
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>
			<if test="sort != null  ">#{sort},</if>
			sysdate(),
			sysdate(),
         </trim>
    </insert>
	 
    <update id="updateSpExpress" parameterType="SpExpress">
        update sp_express
        <trim prefix="SET" suffixOverrides=",">
            <if test="expressName != null  and expressName != ''  ">express_name = #{expressName},</if>
            <if test="expressCode != null  and expressCode != ''  ">express_code = #{expressCode},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            
       
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
       
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="sort != null  ">sort = #{sort},</if>
                  update_time = sysdate(),
        </trim>
        where mid = #{mid}
    </update>

	<delete id="deleteSpExpressById" parameterType="String">
        delete from sp_express where mid = #{mid}
    </delete>
	
    <delete id="deleteSpExpressByIds" parameterType="String">
        delete from sp_express where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>
    
</mapper>