<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.sp.mapper.SpGoodsVirtualsMapper">
    
    <resultMap type="SpGoodsVirtuals" id="SpGoodsVirtualsResult">
        <result property="mid"    column="mid"    />
        <result property="shopId"    column="shop_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="cardNo"    column="card_no"    />
        <result property="cardPwd"    column="card_pwd"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="isUse"    column="is_use"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="sort"    column="sort"    />
    </resultMap>
	
	<sql id="selectSpGoodsVirtualsVo">
        select mid, shop_id, goods_id, card_no, card_pwd, order_id, order_no, is_use, del_flag, create_by, create_time, update_by, update_time, remark, dept_id, dept_name, sort from sp_goods_virtuals
    </sql>
	
    <select id="selectSpGoodsVirtualsList" parameterType="SpGoodsVirtuals" resultMap="SpGoodsVirtualsResult">
        <include refid="selectSpGoodsVirtualsVo"/>
        <where>  
            <if test="mid != null  and mid != '' "> and mid = #{mid}</if>
             <if test="shopId != null  and shopId != '' "> and shop_id = #{shopId}</if>
             <if test="goodsId != null  and goodsId != '' "> and goods_id = #{goodsId}</if>
             <if test="cardNo != null  and cardNo != '' "> and card_no = #{cardNo}</if>
             <if test="cardPwd != null  and cardPwd != '' "> and card_pwd = #{cardPwd}</if>
             <if test="orderId != null  and orderId != '' "> and order_id = #{orderId}</if>
             <if test="orderNo != null  and orderNo != '' "> and order_no = #{orderNo}</if>
             <if test="isUse != null  and isUse != '' "> and is_use = #{isUse}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="deptId != null  and deptId != '' "> and dept_id = #{deptId}</if>
             <if test="deptName != null  and deptName != '' "> and dept_name = #{deptName}</if>
             <if test="sort != null "> and sort = #{sort}</if>
         </where>
    </select>
    
    <select id="selectSpGoodsVirtualsById" parameterType="String" resultMap="SpGoodsVirtualsResult">
        <include refid="selectSpGoodsVirtualsVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertSpGoodsVirtuals" parameterType="SpGoodsVirtuals">
              <selectKey keyProperty="mid" order="BEFORE" resultType="java.lang.String">
			SELECT UUID()
		</selectKey>
        insert into sp_goods_virtuals
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">mid,</if>
			<if test="shopId != null  and shopId != ''  ">shop_id,</if>
			<if test="goodsId != null  and goodsId != ''  ">goods_id,</if>
			<if test="cardNo != null  and cardNo != ''  ">card_no,</if>
			<if test="cardPwd != null  and cardPwd != ''  ">card_pwd,</if>
			<if test="orderId != null  and orderId != ''  ">order_id,</if>
			<if test="orderNo != null  and orderNo != ''  ">order_no,</if>
			<if test="isUse != null  and isUse != ''  ">is_use,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
		
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="sort != null  ">sort,</if>
						create_time,
						update_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">#{mid},</if>
			<if test="shopId != null  and shopId != ''  ">#{shopId},</if>
			<if test="goodsId != null  and goodsId != ''  ">#{goodsId},</if>
			<if test="cardNo != null  and cardNo != ''  ">#{cardNo},</if>
			<if test="cardPwd != null  and cardPwd != ''  ">#{cardPwd},</if>
			<if test="orderId != null  and orderId != ''  ">#{orderId},</if>
			<if test="orderNo != null  and orderNo != ''  ">#{orderNo},</if>
			<if test="isUse != null  and isUse != ''  ">#{isUse},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
	
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>

			<if test="sort != null  ">#{sort},</if>
 			sysdate(),
			sysdate(),
         </trim>
    </insert>
	 
    <update id="updateSpGoodsVirtuals" parameterType="SpGoodsVirtuals">
        update sp_goods_virtuals
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null  and shopId != ''  ">shop_id = #{shopId},</if>
            <if test="goodsId != null  and goodsId != ''  ">goods_id = #{goodsId},</if>
            <if test="cardNo != null  and cardNo != ''  ">card_no = #{cardNo},</if>
            <if test="cardPwd != null  and cardPwd != ''  ">card_pwd = #{cardPwd},</if>
            <if test="orderId != null  and orderId != ''  ">order_id = #{orderId},</if>
            <if test="orderNo != null  and orderNo != ''  ">order_no = #{orderNo},</if>
            <if test="isUse != null  and isUse != ''  ">is_use = #{isUse},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            
            
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
           
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="sort != null  ">sort = #{sort},</if>
                  update_time = sysdate(),
        </trim>
        where mid = #{mid}
    </update>

	<delete id="deleteSpGoodsVirtualsById" parameterType="String">
        delete from sp_goods_virtuals where mid = #{mid}
    </delete>
	
    <delete id="deleteSpGoodsVirtualsByIds" parameterType="String">
        delete from sp_goods_virtuals where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>
    
</mapper>