<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.sp.mapper.SpLogServicesMapper">
    
    <resultMap type="SpLogServices" id="SpLogServicesResult">
        <result property="mid"    column="mid"    />
        <result property="orderId"    column="order_id"    />
        <result property="serviceId"    column="service_id"    />
        <result property="logContent"    column="log_content"    />
        <result property="logTargetId"    column="log_target_id"    />
        <result property="logType"    column="log_type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="sort"    column="sort"    />
    </resultMap>
	
	<sql id="selectSpLogServicesVo">
        select mid, order_id, service_id, log_content, log_target_id, log_type, del_flag, create_by, create_time, update_by, update_time, remark, dept_id, dept_name, sort from sp_log_services
    </sql>
	
    <select id="selectSpLogServicesList" parameterType="SpLogServices" resultMap="SpLogServicesResult">
        <include refid="selectSpLogServicesVo"/>
        <where>  
            <if test="mid != null "> and mid = #{mid}</if>
             <if test="orderId != null "> and order_id = #{orderId}</if>
             <if test="serviceId != null "> and service_id = #{serviceId}</if>
             <if test="logContent != null  and logContent != '' "> and log_content = #{logContent}</if>
             <if test="logTargetId != null "> and log_target_id = #{logTargetId}</if>
             <if test="logType != null "> and log_type = #{logType}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="deptId != null  and deptId != '' "> and dept_id = #{deptId}</if>
             <if test="deptName != null  and deptName != '' "> and dept_name = #{deptName}</if>
             <if test="sort != null "> and sort = #{sort}</if>
         </where>
    </select>
    
    <select id="selectSpLogServicesById" parameterType="Integer" resultMap="SpLogServicesResult">
        <include refid="selectSpLogServicesVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertSpLogServices" parameterType="SpLogServices" useGeneratedKeys="true" keyProperty="mid">
        insert into sp_log_services
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null  ">order_id,</if>
			<if test="serviceId != null  ">service_id,</if>
			<if test="logContent != null  and logContent != ''  ">log_content,</if>
			<if test="logTargetId != null  ">log_target_id,</if>
			<if test="logType != null  ">log_type,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="sort != null  ">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null  ">#{orderId},</if>
			<if test="serviceId != null  ">#{serviceId},</if>
			<if test="logContent != null  and logContent != ''  ">#{logContent},</if>
			<if test="logTargetId != null  ">#{logTargetId},</if>
			<if test="logType != null  ">#{logType},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>
			<if test="sort != null  ">#{sort},</if>
         </trim>
    </insert>
	 
    <update id="updateSpLogServices" parameterType="SpLogServices">
        update sp_log_services
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  ">order_id = #{orderId},</if>
            <if test="serviceId != null  ">service_id = #{serviceId},</if>
            <if test="logContent != null  and logContent != ''  ">log_content = #{logContent},</if>
            <if test="logTargetId != null  ">log_target_id = #{logTargetId},</if>
            <if test="logType != null  ">log_type = #{logType},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="sort != null  ">sort = #{sort},</if>
        </trim>
        where mid = #{mid}
    </update>

	<delete id="deleteSpLogServicesById" parameterType="Integer">
        delete from sp_log_services where mid = #{mid}
    </delete>
	
    <delete id="deleteSpLogServicesByIds" parameterType="String">
        delete from sp_log_services where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>
    
</mapper>