<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.sp.mapper.SpSpecItemsMapper">
    
    <resultMap type="SpSpecItems" id="SpSpecItemsResult">
        <result property="mid"    column="mid"    />
        <result property="shopId"    column="shop_id"    />
        <result property="catId"    column="cat_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemDesc"    column="item_desc"    />
        <result property="itemImg"    column="item_img"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="sort"    column="sort"    />
         <collection  property="mSpecCats"   javaType="java.util.List"        resultMap="SpecCatsResult" />  
    </resultMap>
	<resultMap id="SpecCatsResult" type="SpSpecItems">
		<id     property="mid"       column="spi_mid"        />
        <result property="cat_name"    column="spi_cat_name"    />
	</resultMap>
	<sql id="selectSpSpecItemsVo">
        select mid, shop_id, cat_id, goods_id, item_name, item_desc, item_img, del_flag, create_by, create_time, update_by, update_time, remark, dept_id, dept_name, sort from sp_spec_items
    </sql>
	
    <select id="selectSpSpecItemsList" parameterType="SpSpecItems" resultMap="SpSpecItemsResult">
        <include refid="selectSpSpecItemsVo"/>
        <where>  
            <if test="mid != null  and mid != '' "> and mid = #{mid}</if>
             <if test="shopId != null  and shopId != '' "> and shop_id = #{shopId}</if>
             <if test="catId != null  and catId != '' "> and cat_id = #{catId}</if>
             <if test="goodsId != null  and goodsId != '' "> and goods_id = #{goodsId}</if>
             <if test="itemName != null  and itemName != '' "> and item_name = #{itemName}</if>
             <if test="itemDesc != null  and itemDesc != '' "> and item_desc = #{itemDesc}</if>
             <if test="itemImg != null  and itemImg != '' "> and item_img = #{itemImg}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="deptId != null  and deptId != '' "> and dept_id = #{deptId}</if>
             <if test="deptName != null  and deptName != '' "> and dept_name = #{deptName}</if>
             <if test="sort != null "> and sort = #{sort}</if>
         </where>
    </select>
    
    <select id="selectSpSpecItemsById" parameterType="String" resultMap="SpSpecItemsResult">
        <include refid="selectSpSpecItemsVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertSpSpecItems" parameterType="SpSpecItems">
        <selectKey keyProperty="mid" order="BEFORE" resultType="java.lang.String">
			SELECT UUID()
		</selectKey>
        insert into sp_spec_items
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">mid,</if>
			<if test="shopId != null  and shopId != ''  ">shop_id,</if>
			<if test="catId != null  and catId != ''  ">cat_id,</if>
			<if test="goodsId != null  and goodsId != ''  ">goods_id,</if>
			<if test="itemName != null  and itemName != ''  ">item_name,</if>
			<if test="itemDesc != null  and itemDesc != ''  ">item_desc,</if>
			<if test="itemImg != null  and itemImg != ''  ">item_img,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
	
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
	
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="sort != null  ">sort,</if>
  						create_time,
						update_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">#{mid},</if>
			<if test="shopId != null  and shopId != ''  ">#{shopId},</if>
			<if test="catId != null  and catId != ''  ">#{catId},</if>
			<if test="goodsId != null  and goodsId != ''  ">#{goodsId},</if>
			<if test="itemName != null  and itemName != ''  ">#{itemName},</if>
			<if test="itemDesc != null  and itemDesc != ''  ">#{itemDesc},</if>
			<if test="itemImg != null  and itemImg != ''  ">#{itemImg},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>

			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>

			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>
			<if test="sort != null  ">#{sort},</if>
			sysdate(),
			sysdate(),
         </trim>
    </insert>
	 
    <update id="updateSpSpecItems" parameterType="SpSpecItems">
        update sp_spec_items
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null  and shopId != ''  ">shop_id = #{shopId},</if>
            <if test="catId != null  and catId != ''  ">cat_id = #{catId},</if>
            <if test="goodsId != null  and goodsId != ''  ">goods_id = #{goodsId},</if>
            <if test="itemName != null  and itemName != ''  ">item_name = #{itemName},</if>
            <if test="itemDesc != null  and itemDesc != ''  ">item_desc = #{itemDesc},</if>
            <if test="itemImg != null  and itemImg != ''  ">item_img = #{itemImg},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            
         
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>

            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="sort != null  ">sort = #{sort},</if>
                  update_time = sysdate(),
        </trim>
        where mid = #{mid}
    </update>

	<delete id="deleteSpSpecItemsById" parameterType="String">
        delete from sp_spec_items where mid = #{mid}
    </delete>
	<delete id="deleteSpSpecItemsByShopIdAndGoodsId" parameterType="String">
        delete from sp_spec_items where shop_id = #{ShopId} and goods_id = #{GoodsId}
    </delete>	
    <delete id="deleteSpSpecItemsByIds" parameterType="String">
        delete from sp_spec_items where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>
    
</mapper>