<head th:fragment="header" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>lnbei--WEB快速开发平台</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="description" content="林北网 - 一个提供WEB快速开发系统的网站">
		<meta name="keyword" content="lnbei.com,lnbei.xin,lnbei,林北,林北网,php,cms,企业建站,官网,建站,php,admin,前端开发,快速开发平台,系统,oa,插件,商城,放心用,电子商务">
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/components/font-awesome/css/font-awesome.css}" />


		<!-- text fonts -->
		<link rel="stylesheet" th:href="@{/assets/css/ace-fonts.css}" />

		<!-- ace styles -->
		<link rel="stylesheet" th:href="@{/assets/css/ace.css}" class="ace-main-stylesheet" id="main-ace-style" />
		
		<style>
		.jumbotron.has-background {
			background: transparent url("images/home-bg.jpg") top center no-repeat;
			/* background source: https://pixabay.com/en/apple-steve-jobs-quotes-scrabble-758334/ */
		}
		.section-contact {
			background: #222 url("images/map-contact.jpg") center no-repeat;
		}
		</style>

		
		
		<link rel="stylesheet" th:href="@{/frontend.css}" />

	    <link rel="stylesheet" th:href="@{/spindex/css/base.css}" /> 
	    
	    
		<script th:src="@{/components/jquery/dist/jquery.js}"></script>
		
		
		
		<script th:src="@{/components/bootstrap/dist/js/bootstrap.js}"></script>
		<script th:src="@{/components/holderjs/holder.js}"></script>
			
		<script th:src="@{/spindex/js/lib/jquery.lazyload.js}"></script>
		<script th:src="@{/spindex/js/common.js}"></script>
		<th:block th:include="include :: lbtable-js" />
</head>


		
		
