<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="spshop/public/header:: header"></head>
<body class="no-skin pos-rel" data-spy="scroll" data-target="#menu">
<div th:replace="spindex/public/nav:: nav"></div>
<div th:replace="spindex/public/search::search"></div>
<div th:replace="spindex/public/navbar:: navbar(true)"></div>

<div class="container" style="width:90%" >
	<div class="row">
		<div class="col-md-12">
		
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
		
		</div>	
	</div>	
</div>
<head th:include="spshop/public/footer:: footer"></head>
<script >



</script>
</body>
</html>