<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="spshop/public/header:: header"></head>
<body class="no-skin pos-rel" data-spy="scroll" data-target="#menu">
<div th:replace="spshop/public/nav:: nav"></div>

<div class="container" style="width:90%" >
	<div class="row">
		<div class="col-md-2">
		
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
   
                 <li class="active">
                    <a  target="lnbei-iframe"><i class="fa fa-home"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span></a>
                </li>
                <li th:each="menu : ${menus}">
                	<a href="#">
                		<i class="fa fa fa-bar-chart-o" th:class="${menu.icon}"></i>
                    	<span class="nav-label" th:text="${menu.menuName}">一级菜单</span> 
                    	<span class="fa arrow"></span>
                	</a>
                   <ul class="nav nav-second-level">
						<li th:each="cmenu : ${menu.children}">
							<a th:if="${#lists.isEmpty(cmenu.children)}" class="menuItem" th:utext="${cmenu.menuName}" th:href="@{${cmenu.url}}" target="lnbei-iframe">二级菜单</a>
							<a th:if="${not #lists.isEmpty(cmenu.children)}" href="#">[[${cmenu.menuName}]]<span class="fa arrow"></span></a>
							<ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-third-level">
								<li th:each="emenu : ${cmenu.children}"><a class="menuItem" th:text="${emenu.menuName}" th:href="@{${emenu.url}}" target="lnbei-iframe" >三级菜单</a></li>
							</ul>
						</li>
					</ul>
                </li>
            </ul>
        </div>
    </nav>
		
		</div>
		<div class="col-md-10">
		
	  <div class="row mainContent" id="content-main">
            <iframe class="RuoYi_iframe"  id="lnbei-iframe" name="lnbei-iframe" width="100%" height="100%" data-id="/oa/oaFile" scrolling="no"
                    th:src="@{/oa/oaFile}" frameborder="0" seamless></iframe>
        </div>
		
		</div>	
	</div>
</div>
<head th:include="spshop/public/footer:: footer"></head>
<script >


/*
 * When the iframe is on a different subdomain, uncomment the following line
 * and change "example.com" to your domain.
 */
// document.domain = "example.com";
function setIframeHeight(iframe) {
	if (iframe) {
		var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
		if (iframeWin.document.body) {
			iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
		}
	}
};

window.onload = function () {
	setIframeHeight(document.getElementById('lnbei-iframe'));
};



</script>
</body>
</html>