<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-spInvoices-edit" th:object="${spInvoices}">
            <input id="mid" name="mid" th:field="*{mid}"  type="hidden">
		<div class="form-group">	
				<label class="col-sm-3 control-label">发票抬头：</label>
				<div class="col-sm-8">
					<input id="invoiceHead" name="invoiceHead" th:field="*{invoiceHead}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">纳税人识别号：</label>
				<div class="col-sm-8">
					<input id="invoiceCode" name="invoiceCode" th:field="*{invoiceCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发票类型</label>
				<div class="col-sm-8">
					<select id="invoiceType"  name="invoiceType" th:field="*{invoiceType}" class="form-control select_font" style="border: 1px solid #ddd;"  th:with="type=${@dict.getType('sp_invoice_type')}">
						 <option value=''>请选择</option>
						  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
						  </option>
					</select>					
				</div>
			</div>
			<div class="form-group" id="invoiceAddrDIV" th:if="${spInvoices.invoiceAddr !=''}">	
				<label class="col-sm-3 control-label">增值税发票注册地址：</label>
				<div class="col-sm-8">
					<input id="invoiceAddr" name="invoiceAddr" th:field="*{invoiceAddr}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group" id="invoicePhoneNumberDIV" th:if="${spInvoices.invoicePhoneNumber !=''}">	
				<label class="col-sm-3 control-label">增值税发票注册电话：</label>
				<div class="col-sm-8">
					<input id="invoicePhoneNumber" name="invoicePhoneNumber" th:field="*{invoicePhoneNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group" id="invoiceBankNameDIV" th:if="${spInvoices.invoiceBankName !=''}">	
				<label class="col-sm-3 control-label">增值税发票开户银行：</label>
				<div class="col-sm-8">
					<input id="invoiceBankName" name="invoiceBankName" th:field="*{invoiceBankName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group" id="invoiceBankNoDIV" th:if="${spInvoices.invoiceBankNo !=''}">	
				<label class="col-sm-3 control-label">增值税发票银行账户：</label>
				<div class="col-sm-8">
					<input id="invoiceBankNo" name="invoiceBankNo" th:field="*{invoiceBankNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
	    			<div required class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}"  th:checked="${dict.dictValue == '0' ? true : false}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">排序：</label>
				<div class="col-sm-8">
					<input id="sort" name="sort"  th:field="*{sort}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "spadmin/spInvoices";
		$("#form-spInvoices-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-spInvoices-edit').serialize());
	        }
	    }
	$(function (){
			
			$("#invoiceType").change(function (){
				var value = $(this).val();
				var str = "none";
				var ids = "invoiceAddrDIV,invoicePhoneNumberDIV,invoiceBankNameDIV,invoiceBankNoDIV";
				var idsArray = ids.split(",");
				if(value == 1){
					str = "black";	
				}else if(value == 0){
					str = "none";
				}
				for(var i in idsArray){
					
					$("#"+idsArray[i]).css("display",str);
				}
				
			});
			
		});		
	</script>
</body>
</html>
