<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-oaFile-edit" th:object="${oaFile}">
            <input id="mid" name="mid" th:field="*{mid}"  type="hidden">
        	<div class="form-group">	
				<label class="col-sm-3 control-label">文件类别：</label>
				<div class="col-sm-8">
					<input id="classifyId" name="classifyId" th:field="*{classifyId}"  class="form-control" type="hidden">
					<input id="classify" name="classify" th:field="*{classify}"  onClick="selectCategoryTree('file_type')" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group"  th:if="${oaFile.fileType == 1}" id="fileUrl">	
				<label class="col-sm-3 control-label">网络文件：</label>
				<div class="col-sm-8">
					<input id="fileUrl" name="fileUrl" th:field="*{fileUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">访问类型：</label>
				<div class="col-sm-8">
			
						<select id="accessType"  name="accessType" th:field="*{accessType}"  class="form-control select_font" style="width:200px;border: 1px solid #ddd;"  th:with="type=${@dict.getType('sys_access_type')}">
								  <option value="">所有</option>
								  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
								  </option>
						</select>						
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "oa/oaFile";
		$("#form-oaFile-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-oaFile-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
