
				<div class="section" style="clear: both;" th:fragment="footer">
				<hr/>
				<div class="container">
					<div class="text-center">
						<h5><span class=" text-muted"><span class="blue bolder">lnbei</span> Application &copy; 2013-2040</span></h5>
					</div>
					<div class="row">
						<div class="col-md-3 text-left">
							
						</div>
						<div class="col-md-6 text-center">
							<div class="row">
								<div class="col-md-2 text-center">
									<a target="_blank" href="/home/index/about">关于我们</a>
								</div>
								<div class="col-md-2 text-center">
									<a target="_blank"  href="https://github.com/chenguanyong/lnbei">GitHub</a>
								</div>
								<div class="col-md-2 text-center">
									<a target="_blank" href="/home/index/stayWord">留言</a>
								</div>
	   							<div class="col-md-2 text-center">
									<a target="_blank" href="/home/index/donation">捐赠</a>
								</div>
	   							<div class="col-md-2 text-center">
									<a target = "_blank"  href="http://bbc.lnbei.xin">论坛</a>
								</div>
								<div class="col-md-2 text-center">
									<a target="_blank" href="https://shop109175990.taobao.com/">淘宝店铺</a>
								</div>																
							</div>
						</div>
						
						<div class="col-md-3 text-right">
							
						</div>
					</div>
					<div class="text-center">
							<h5><span class=" text-muted"><a target = "_blank"  href="http://www.beian.miit.gov.cn">豫ICP备17022054号-1</a></span></h5>
					</div>
					<div class="text-center">
							<h5><span class=" text-muted"><img src="../homea/img/wechat/100.jpg"  ></span></h5>
							<h6><span class=" text-muted">微信公众号</span></h6>
					</div>
				</div>
			</div>
		

