<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnbei.home.mapper.HomeCommentMapper">
    
    <resultMap type="HomeComment" id="HomeCommentResult">
        <result property="mid"    column="mid"    />
        <result property="articleId"    column="article_id"    />
        <result property="title"    column="title"    />
        <result property="userId"    column="user_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="flag"    column="flag"    />
        <result property="status"    column="status"    />
        <result property="auditor"    column="auditor"    />
        <result property="auditorId"    column="auditor_id"    />
        <result property="auditorOpinion"    column="auditor_opinion"    />
        <result property="praise"    column="Praise"    />
        <result property="badReview"    column="bad_review"    />
        <result property="toName"    column="to_name"    />
        <result property="toId"    column="to_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="sort"    column="sort"    />
        <result property="userType"    column="user_type"    />
        <result property="replySize"    column="Reply_size"    />
        <result property="createName"    column="create_name"    />
        <result property="parentId"    column="parent_id"    />        
    </resultMap>
	
	<sql id="selectHomeCommentVo">
        select mid, article_id, title,create_name,parentId, user_id, member_id, flag, status, auditor, auditor_id, auditor_opinion, Praise, bad_review, to_name, to_id, del_flag, create_time, create_by, update_by, update_time, remark, sort, user_type, Reply_size from home_comment
    </sql>
	
    <select id="selectHomeCommentList" parameterType="HomeComment" resultMap="HomeCommentResult">
        <include refid="selectHomeCommentVo"/>
        <where>  
            <if test="mid != null  and mid != '' "> and mid = #{mid}</if>
             <if test="articleId != null  and articleId != '' "> and article_id = #{articleId}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="memberId != null  and memberId != '' "> and member_id = #{memberId}</if>
             <if test="flag != null  and flag != '' "> and flag = #{flag}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="auditor != null  and auditor != '' "> and auditor = #{auditor}</if>
             <if test="auditorId != null  and auditorId != '' "> and auditor_id = #{auditorId}</if>
             <if test="auditorOpinion != null  and auditorOpinion != '' "> and auditor_opinion = #{auditorOpinion}</if>
             <if test="praise != null "> and Praise = #{praise}</if>
             <if test="badReview != null "> and bad_review = #{badReview}</if>
             <if test="toName != null  and toName != '' "> and to_name = #{toName}</if>
             <if test="toId != null  and toId != '' "> and to_id = #{toId}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="sort != null "> and sort = #{sort}</if>
             <if test="userType != null  and userType != '' "> and user_type = #{userType}</if>
             <if test="replySize != null "> and Reply_size = #{replySize}</if>
              <if test="createName != null  and createName != '' "> and create_name = #{createName}</if>
             <if test="parentId != null  and parentId != '' "> and parent_id = #{parentId}</if>
         </where>
    </select>
    
    <select id="selectHomeCommentById" parameterType="String" resultMap="HomeCommentResult">
        <include refid="selectHomeCommentVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertHomeComment" parameterType="HomeComment">
        insert into home_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">mid,</if>
			<if test="articleId != null  and articleId != ''  ">article_id,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="memberId != null  and memberId != ''  ">member_id,</if>
			<if test="flag != null  and flag != ''  ">flag,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="auditor != null  and auditor != ''  ">auditor,</if>
			<if test="auditorId != null  and auditorId != ''  ">auditor_id,</if>
			<if test="auditorOpinion != null  and auditorOpinion != ''  ">auditor_opinion,</if>
			<if test="praise != null  ">Praise,</if>
			<if test="badReview != null  ">bad_review,</if>
			<if test="toName != null  and toName != ''  ">to_name,</if>
			<if test="toId != null  and toId != ''  ">to_id,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="sort != null  ">sort,</if>
			<if test="userType != null  and userType != ''  ">user_type,</if>
			<if test="replySize != null  ">Reply_size,</if>
			<if test="createName != null  and createName != ''  ">create_name,</if>
			<if test="parentId != null  and parentId != ''  ">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mid != null  and mid != ''  ">#{mid},</if>
			<if test="articleId != null  and articleId != ''  ">#{articleId},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="memberId != null  and memberId != ''  ">#{memberId},</if>
			<if test="flag != null  and flag != ''  ">#{flag},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="auditor != null  and auditor != ''  ">#{auditor},</if>
			<if test="auditorId != null  and auditorId != ''  ">#{auditorId},</if>
			<if test="auditorOpinion != null  and auditorOpinion != ''  ">#{auditorOpinion},</if>
			<if test="praise != null  ">#{praise},</if>
			<if test="badReview != null  ">#{badReview},</if>
			<if test="toName != null  and toName != ''  ">#{toName},</if>
			<if test="toId != null  and toId != ''  ">#{toId},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="sort != null  ">#{sort},</if>
			<if test="userType != null  and userType != ''  ">#{userType},</if>
			<if test="replySize != null  ">#{replySize},</if>
			<if test="createName != null  and createName != ''  ">#{createName},</if>
			<if test="parentId != null  and parentId != ''  ">#{parentId},</if>
         </trim>
    </insert>
	 
    <update id="updateHomeComment" parameterType="HomeComment">
        update home_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="articleId != null  and articleId != ''  ">article_id = #{articleId},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="memberId != null  and memberId != ''  ">member_id = #{memberId},</if>
            <if test="flag != null  and flag != ''  ">flag = #{flag},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="auditor != null  and auditor != ''  ">auditor = #{auditor},</if>
            <if test="auditorId != null  and auditorId != ''  ">auditor_id = #{auditorId},</if>
            <if test="auditorOpinion != null  and auditorOpinion != ''  ">auditor_opinion = #{auditorOpinion},</if>
            <if test="praise != null  ">Praise = #{praise},</if>
            <if test="badReview != null  ">bad_review = #{badReview},</if>
            <if test="toName != null  and toName != ''  ">to_name = #{toName},</if>
            <if test="toId != null  and toId != ''  ">to_id = #{toId},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="sort != null  ">sort = #{sort},</if>
            <if test="userType != null  and userType != ''  ">user_type = #{userType},</if>
            <if test="replySize != null  ">Reply_size = #{replySize},</if>
			<if test="createName != null  and createName != ''  ">createName=#{createName},</if>
			<if test="parentId != null  and parentId != ''  ">parentId=#{parentId},</if>            
        </trim>
        where mid = #{mid}
    </update>
    <update id="changeStatus" parameterType="HomeComment">
        update home_comment
        <trim prefix="SET" suffixOverrides=",">
 
            <if test="status != null  and status != ''  ">status = #{status},</if>
        
        </trim>
        where mid = #{mid}
    </update> 
	<delete id="deleteHomeCommentById" parameterType="String">
        delete from home_comment where mid = #{mid}
    </delete>
	
    <delete id="deleteHomeCommentByIds" parameterType="String">
        delete from home_comment where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>
    
</mapper>